---
const profile = Astro.props;
---

<div
  class="max-w-md mx-auto bg-base-200 text-white rounded-2xl overflow-hidden shadow-lg"
>
  <div class="relative pd-3">
    <img src={profile.banner} id="banner" alt="Banner" class="w-full h-36 object-cover" />
    <img
      src={profile.avatar}
      id="avatar"
      alt="Avatar"
      class="w-24 h-24 rounded-full object-cover absolute bottom-[-45%] left-3 border-4 border-base-200"
    />
  </div>

  <div class="relative w-fit">
    <div class="absolute top-1/2 left-full -translate-y-1/2 ml-2">
      <div class="chat chat-start pt-15 pl-24">
        <div
          id="status"
          class="chat-bubble chat-bubble-neutral max-w-max whitespace-nowrap text-sm"
        >
          {profile.status}
        </div>
      </div>
    </div>
  </div>

  <div class="pt-13 p-3 relative">
    <div class="pt-5 flex items-center gap-4 flex-nowrap">
      <div>
        <h2 id="name" class="text-xl font-semibold">{profile.name}</h2>
        <p class="text-gray-400">
          <span id="username">{profile.username}</span>
          <span id="pronouns">{profile.pronouns && ` ・ ${profile.pronouns}`}</span>
        </p>
      </div>

      <button class="ml-auto btn btn-circle btn-ghost">
        <span
          class="icon-[ic--twotone-discord]"
          style="width: 1.2em; height: 1.2em;"></span>
      </button>
    </div>

    <div class="mt-3 p-3 bg-base-300 rounded-lg border border-base-300">
      <p class="text-gray-400 text-sm">About Me</p>
      <p id="about" class="mt-1">{profile.about}</p>
    </div>

    <div
      class="mt-3 p-3 bg-base-300 rounded-lg border border-base-300 flex items-center gap-2"
      id="birthday-container"
    >
      <span class="text-gray-400 icon-[line-md--cake-filled]"></span>
      <p id="birthday">{profile.birthday}</p>
    </div>

    <div
      class="mt-3 p-3 bg-base-300 rounded-lg border border-base-300 flex items-center gap-3"
    >
      <img
        src={profile.song.cover}
        id="song-cover"
        alt="Song Cover"
        class="w-12 h-12 rounded-lg object-cover"
      />
      <div>
        <p class="text-gray-400 text-sm">Now Playing</p>
        <a id="song" href={profile.song.link} class="text-primary font-medium">
          {profile.song.artist} - {profile.song.title}
        </a>
        <p class="text-gray-400 text-xs">00:00 / {profile.song.duration}</p>
      </div>
      <a
        id="song-link"
        href={profile.song.link}
        class="ml-auto icon-[line-md--play-filled] text-gray-400 hover:text-primary hover:scale-110 transition-transform duration-200"
        style="width: 1.5em; height: 1.5em;"></a>
    </div>
  </div>
</div>
